# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/functions/node_modules

# testing
/coverage

# production
/build

# misc
*.log
.DS_Store
creds.json
.env
.env.prod
.env.dev
.env.local
.env.development.local
.env.test.local
.env.production.local
/src/*.env
serviceAccountKey.json
client_secret.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
